<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid">

    <header class="sticky-top">
        <%- include('../partials/header'); %>
    </header>

    <main class="container">
        <%- include('../partials/form'); %>
        <div id="insTabla"></div>
        <%- include('../partials/chat'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/scripts'); %>
</body>

</html>