<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container-fluid">

<header>
    <%- include('../partials/header'); %>
</header>

<main class="container">
        <%- include('../partials/form'); %>
        <%- include('../partials/table-index'); %>
        <%- include('../partials/Chat'); %>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
    <%- include('../partials/scripts'); %>
</body>
</html>